label {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: block;
  display: flex;
  flex-direction: column;
}
input:active {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 20px;
}

input:hover {
  border: 1px solid #000;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 20px;
}

input {
  width: 340px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

input[type="email"] {
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input[type="password"] {
  margin-bottom: 16px;
  margin-top: 8px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  display: block;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 0px;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #6c8cff;
}
