#controls {
  display: flex;
  flex-direction: row;
  gap: 16px;
  background: #f6f6fe;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
}

input[type="number"] {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 72px;
  width: 150px;
  height: 40px;
  padding-left: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin-top: 0;
  margin-right: -70px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.create-button {
  background: #4e75ff;
}

.create-button:hover {
  background: #6c8cff;
}

.destroy-button {
  background: #ff4e4e;
}

.destroy-button:hover {
  background: #ff7070;
}

#boxes {
  max-width: 486px;
  margin-top: 16px;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 134px;
  background: #f6f6fe;
  gap: 40px;
}
